body {
    font-family: 'Montserrat', sans-serif;
    background:#f0f2f5;
    margin:0;
}

header {
    width:100%;
    height:60px;
    background:#d4c6e4;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
}

main {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:100px;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    height:220px;
}

form {
    background:white;
    padding:35px 40px 35px 40px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    width:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height: 300px;
}

h2 {
    text-align:center;
    color:#aa73d9;
    margin-bottom:20px;
}

input {
    width:100%;
    max-width:280px;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
    font-size: 16px;
}

button {
    width:100%;
    max-width:280px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#aa73d9;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

button:hover {
    background:#914ec1;
}

.error {
    color:red;
    margin-top: 0;
    margin-bottom:10px;
    text-align:center;
    width:100%;
    max-width:280px;
}