<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<header></header>

<main>
    <div class="logo">
        <img src="https://i.imgur.com/wpxvMaJ.png" alt="Logo">
    </div>

    <form action="/login" method="post">
        <h2>Login</h2>

        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>

        <button type="submit">Entrar</button>

        <div class="error" th:if="${erro}" th:text="'Usuário ou senha incorretos.'"></div>
    </form>
</main>

</body>
</html>