<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estoque de Produtos</title>
    <link rel="stylesheet" href="/css/produtos.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="header-left">
        <img src="https://i.imgur.com/wpxvMaJ.png" alt="Logo" class="logo">
        <h1>Petcare | Controle de Estoque</h1>
    </div>
    <div class="header-right">
        <span>Usuário: admin | Perfil Administrador</span>
        <a href="/logout" class="btn-logout">Sair</a>
    </div>
</header>

<main>
    <div class="titulo">Lista de produtos</div>

    <div class="caixa">
        <a href="/produtos/novo" class="btn-add">+ Adicionar Produto</a>
        <table>
            <thead>
            <tr>
                <th class="col-id">ID</th>
                <th class="col-nome">Nome do Produto</th>
                <th class="col-categoria">Categoria</th>
                <th class="col-preco">Preço</th>
                <th class="col-qtd">Qtd</th>
                <th class="col-descricao">Descrição</th>
                <th class="col-acoes">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td class="col-id" th:text="${produto.id}"></td>
                <td class="col-nome" th:text="${produto.nome}"></td>
                <td class="col-categoria" th:text="${produto.categoria}"></td>
                <td class="col-preco" th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 2, 'POINT', 2, 'COMMA')}"></td>
                <td class="col-qtd" th:text="${produto.quantidade}"></td>
                <td class="col-descricao" th:text="${produto.descricao}"></td>
                <td class="col-acoes">
                    <a th:href="@{'/produtos/editar/' + ${produto.id}}" class="btn-edit">Editar</a>
                    <a th:href="@{'/produtos/excluir/' + ${produto.id}}" class="btn-del">Excluir</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>

</body>
</html>
